.about-product {
    text-align: left;
    color: $hierro;
    font-size: rem(16);
    line-height: rem(24);

    .about-product--header {
        min-height: rem(345);
        background: url(../imgs/catalog/argon-header.jpg) no-repeat center center/cover;
        position: relative;

        .title {
            color: #FFF;
            position: absolute;
            bottom: rem(30);
            left: rem(36);
            font-size: rem(40);
            text-shadow: 1px 1px 1px #505050;
        }
    } 

    .about-product--valoration {
        display: flex;
        border-bottom: 1px solid $platino;
        padding: rem(20) 0;


        > * {
            width: 28%;
            padding: rem(15);
        }

        .about-product--score {
            width: 44%;
            display: flex;

            .subtitle {
                font-size: rem(18);
                color: $carbon;
                margin-top: 0;
                margin-bottom:rem(3);
            }
        }

        .valoration-list > li {
            text-indent: 2px;
            margin: 0 0 rem(15) 0;
            padding: 0px 0px 0px rem(24);
        }

        .positive-valoration > li {
            background: url(../imgs/catalog/positive-list-style.png) no-repeat left 3px;
        }

        .negative-valoration > li {
            background: url(../imgs/catalog/negative-list-style.png) no-repeat left 3px;
        }
    }

    .extended-valoration {
        padding: 20px 0;
        display:flex;
        justify-content: space-between;

        .extended-valoration--text-container {
            width:60%;
        }

        .extended-valoration--quote {
            width:35%;
            align-self: center;

            .extended-valoration--quote-text {
                color: $carbon;
                font-family: $font-semibold;
                font-size: rem(24);
                line-height: rem(36);
            }

            .extended-valoration--author {
                display: flex;
                padding: rem(20) 0;

                img {
                    margin-right: 10px;
                } 

                .author-name {
                    font-family: $font-semibold;
                    color: $carbon;
                }

                .author-do {
                    font-family: $font-regular;
                    color: $hierro;
                    display: block;
                }
            }
        }
    }

    .extended-valoration--text {
        padding: 10px 0;
    }

    .score-circle {
        margin: 0 rem(20) 0 0;
    }
}